.playbutton button {
  all: unset;
  cursor: pointer;
}

.circle {
  fill: var(--playbutton);
}
.triangle {
  fill: var(--accent);
}

.play:hover .circle {
  fill: var(--accent);
}
.play:hover .triangle {
  fill: #fff;
}
