.playbutton button {
  all: unset;
  cursor: pointer;
}

/* SVG  */
.circle {
  fill: var(--playbutton);
}
.triangle {
  fill: var(--accent);
}
/* SVG hover */
.play:hover .circle {
  fill: var(--accent);
}
.play:hover .triangle {
  fill: #fff;
}
