.playbutton button {
  all: unset;
  cursor: pointer;
}

/* audio controls */
audio::-webkit-media-controls-mute-button {
  display: none;
}

audio {
  width: 50%;
}

/* SVG  */
.circle {
  fill: var(--playbutton);
}
.triangle {
  fill: var(--accent);
}
/* SVG hover */
.play:hover .circle {
  fill: var(--accent);
}
.play:hover .triangle {
  fill: #fff;
}
