select {
  all: unset;
  background-color: var(--background);
  background-image: url(../../../public/images/icon-arrow-down.svg);
  background-position: right;
  background-repeat: no-repeat;
  color: var(--text-color);
  cursor: pointer;
  padding-right: 2rem;
  text-align: center;
}
