body {
  margin: 0;
}

.App {
  background-color: var(--background);
  color: var(--text-color);
  font-size: large;
  height: 100%;
  margin: 0;
  transition: all 0.5s;
  width: 100%;
}

.Container {
  padding: 2rem;
}
