input[type="search"] {
  background-color: var(--secondary);
  background-image: url("./icon-search.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 1px solid var(--secondary);
  color: var(--text-color);
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
  opacity: 75%;
  margin-bottom: 1rem;
  padding: 1.5rem;
  width: 100%;
  cursor: pointer;
}
input[type="search"]:focus {
  opacity: 100%;
  outline: none;
  border: 1px solid var(--accent);
}

input[type="search"]:invalid {
  border: 1px solid var(--error);
}

.error {
  display: none;
}

input:invalid:not([value=""]) + .error {
  display: block;
  color: var(--error);
}
